/* NOTE: DÉFINITION DES STYLES */
header {
    padding: 7px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#decompte {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

#annulation {
    display: none;
    margin: auto;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    color: grey;
    font-size: 10px;
    cursor: pointer;



}

#brillant {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    width: 75%;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px 10px;
    border-radius: 4px;
    background: #1EDD88;
    margin-bottom: 80px;
}

#resume {
    position: relative;
    padding: 10px 5px 0px 5px;
    text-transform: uppercase;
    margin: auto;
    color: white;
    font-size: 18px;
    line-height: 50px;

}

.fdb-block {
    padding: 5.5rem 0 !important;
}

#votreAdresse {
    font-weight: bold;
    text-transform: uppercase;
}

#nombrePlace {
    font-weight: bold;
}

#nombreVelo {
    font-weight: bold;
}

.ctahead {
    max-width: 2500px;
}

.fdb-block .container {
    background-size: cover !important;
}

/* NOTE: STYLE EN-TÊTE */
.ctahead {
    height: 100vh;
}

.resa {
    margin-top: 100px;
    margin-bottom: -60px;
}

.fonctionnalites {
    padding-top: 130px;
}

.temoignages {
    margin-top: 50px;
    margin-bottom: 65px;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slide {
    position: absolute;
    width: 100%;
}

.slide.active {
    opacity: 1;
}

.slide {
    opacity: 0;
    transition: 1s all ease;
}

.image {
    position: relative;
    width: 100%;
}

.image {
    position: relative;
    width: 100%;
}

#avant {
    position: absolute;
    left: 50px;
    top: 50%;
    padding: 15px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#apres {
    position: absolute;
    right: 50px;
    top: 50%;
    padding: 15px;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#controles {
    position: absolute;
    left: 50px;
    top: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    cursor: pointer;
    padding: 15px;
    color: white;
    border-radius: 50%;
    border: none;
    outline: inherit;
    color: white;
    z-index: 4;
}

#mapid {
    position: relative;
    height: 350px;
    width: 100%;
    margin: auto;
}

.canvas {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.canvasControles {
    padding: 15px 15px 15px 0px;
    padding: 15px 15px 15px 0px;
}

#signature {
    border-radius: 3px;
    cursor: pointer;
}

/* NOTE: DÉFINITION DU RESPONSIVE  */

@media all and (max-width: 1070px) {
    #signature {
        width: 400px;
        height: 200px;
    }
}

@media all and (max-width: 800px) {
    #avant {
        display: none;
    }

    #apres {
        display: none;
    }

    #controles {
        display: none;
    }
}

@media all and (max-width: 600px) {
    #signature {
        width: 450px;
        height: 200px;
    }
}

@media all and (max-width: 430px) {
    #signature {
        width: 250px;
        height: 125px;
    }
}